<div class="RichTextBlock">
    <h2 id="timelines" class="mb-2">Project timeline</h2>
	<div class="row timeline mx-0 mb-2">
		<div class="col-md-9 goal">
			<p>Removal of drilling rig</p>
		</div>
		<div class="col-md-3 status">
			<p>Late July 2024</p>
		</div>
		<div class="col-md-9 goal shaded-bg">
			<p>Pipeline construction&nbsp;</p>
		</div>
		<div class="col-md-3 status">
			<p>September 2024</p>
		</div>
		<div class="col-md-9 goal mb-n1">
			<p>Project completion</p>
		</div>
		<div class="col-md-3 status mb-n1">
			<p>November 2024</p>
		</div>
	</div>
	<p class="small">NOTE: Dates shown are based on current understanding of the facts and are subject to change.</p>
</div>
